/* votre code CSS */

h1 {
  color: black;
  font-family: 'Roboto';
  display: flex; 
  justify-content: center; 

}

#mapid { 
  height: 85vh;
  width: 100vw;
  max-width:100%;
}

.search{
  text-align: center;
}

